extends ../../templates/homework3D.pug

append import
  script(src=`${resources}/libraries/threejs/PointerLockControls.js`)
  script(src=`${resources}/libraries/dat.gui/dat.gui.min.js`)
  script(src=`${resources}/libraries/stats/stats.min.js`)

append style
  style.
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    #blocker {
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      color: #ffffff;
    }

    #instructions * {
      margin: 0;
    }

    .cursor-icon {
      height: 40px;
      opacity: 0;
      transition: opacity 1s;
    }

    #stats {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    #minimap {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      border: 1px solid yellow;
      border-top: 0;
      border-left: 0;
    }

    #minimap .info {
      position: relative;
      top: 100%;
      width: 100%;
      text-align: center;
      margin-top: 0.5em;
    }

append body
  #minimap
    .info
      #position
      #location
  #cursor-icons
    .center
      img.cursor-icon#pointer(src=`${resources}/images/cursor-pointer.png`)
    .center
      img.cursor-icon#blocked(src=`${resources}/images/cursor-blocked.png`)
  #blocker.center
    #instructions
      h1='Click to Start'
      p='(W, A, S, D = Move, MOUSE = Look arround)'
