extends ../../../templates/homework3D.pug

block import
  script(src=`resources/libraries/jquery/jquery.min.js`)
  script(src=`resources/libraries/threejs/three.min.js`)
  script(src=`resources/libraries/threejs/OrbitControls.js`)

append style
  style.
    :root {
      --right-width: 12em;
    }
    .left {
      float: left;
      width: calc(100% - var(--right-width));
    }
    .right {
      float: right;
      width: calc(var(--right-width) - 2em);
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 1em;
    }
    .title {
      pointer-events: none;
    }
    label:first-child {
      margin-top: 0;
    }
    label {
      display: block;
      margin-top: 1em;
    }
    select, button, input {
      width: 100%;
    }

append body
  .left
  .right
    label='User Name'
    select#login
      option='-'
      - for (let i = 0; i < avatars.length; i++)
        - const avatar = avatars[i];
        option(value=avatar)=`${avatar[0].toUpperCase()}${avatar.slice(1)}`
    label='Records'
    select#records
      option='-'
      - for (let i = 0; i < filenames.length; i++)
        option=filenames[i]
    label='Player'
    input#progress(type='range' min='0' max='1' step='0.01' value='0')
    button#play='Play'
    button#pause='Pause'
    button#stop='Stop'
    label='Speed'
    select#speed
      option(value='-2.0x')='-2.0x'
      option(value='-1.0x')='-1.0x'
      option(value='-0.5x')='-0.5x'
      option(value='+0.5x')='+0.5x'
      option(value='+1.0x' selected)='+1.0x'
      option(value='+2.0x')='+2.0x'
    label='Actions'
    button#save='Save'
    button#clean='Clean'
    label='View'
    select#view
      option(value='god')='God'
      option(value='3rd')='3rd'

block script
  script(src='client.js')
